*{
     font-family: 'Noto Sans', sans-serif;
     scroll-behavior: smooth;
}

.App{     
     min-height: 100vh;
     background-color: #000;
}


::-webkit-scrollbar {
     border-radius: 10px;
     width: 4px;
     height: 10px;
     background-color: #F5F5F5;
}

::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
          border-radius: 10px;
          background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: #FFF;
          background-image: -webkit-linear-gradient(top, #d5effb 0%, #a8dcf3 50%, #9fd8ef 51%, #428442 100%)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #db746f;
}
